# Configurações do Servidor NestJS
BASE_URL
BASE_URL_

APP_PORT
APP_ENV
APP_SECRET

# Configurações da Base de Dados MySQL
DB_TYPE
DB_HOST
DB_PORT
DB_USER
DB_PASS
DB_NAME

# Segurança JWT
JWT_SECRET
JWT_EXPIRATION
JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRATION